grpcio==1.43.0
jieba==0.42.1
plane==0.2.1
pyannote.audio @ https://github.com/pyannote/pyannote-audio/archive/develop.zip
speechbrain==0.5.11
torch==1.10.1
torchaudio==0.10.1
typeguard==2.13.0
transformers==4.15.0
pytest==6.2.5
torchmetrics==0.6.2